.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  bottom: 11px;
  right: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 100px;
}

.channel-picture-container {
  position: relative;
}

.channel-picture-container .channel-picture-tooltip {
  display: flex;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  gap: 10px;
  position: absolute;
  bottom: -78px;
  z-index: 50;
  padding: 12px;
  align-items: center;
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}

.channel-picture-container:hover .channel-picture-tooltip {
  opacity: 1;
}

.channel-picture-tooltip img {
  width: 48px;
  border-radius: 100px;
}

.channel-tooltip-author {
  color: black;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-tooltip-subscribers {
  color: gray;
  font-size: 14px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-title a,
.channel-link {
  text-decoration: none;
  color: inherit;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 42px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}